.banner{
    background-image: url('../assets/banner.jpg');
    background-position: 0 -20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    position: relative;
    object-fit: cover;
}
.banner-content {
    position: relative;
    top: 8.75rem;
    width: 400px;
    background: transparent;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;
}
.banner-content .title {
    font-weight: bolder;
    font-family: Bahnschrift;
    font-size: 3rem;
    margin: 18px;
    white-space: nowrap;
    color: #f22652;

}
.banner-content .subtitle {
    font-weight: normal;
    font-size: 2rem;
    margin: 0;
    white-space: nowrap;
    letter-spacing: 7px;
    color: #8c8d8f;
}
