.content-body-list-shopping-carousel {
    display: table;
    margin-top: 15px;
    width: 100%;
}

.item-pic-1 {
    height: 100%;
    padding-top: 7px;
    padding-bottom: 6px;
    display: table-cell;
    vertical-align: middle;
}

.list-item-pic-1 {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.carousel-1 {
    width: 200px;
    height: 200px;
    margin: 0 -55px;
}
/*.carousel-1 button{
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
    outline: none !important;
    zoom: 1;
}*/

.carousel_next {
    right: 52rem;
    left: auto;

}

.carousel_prev {
    right: auto;
    left: 21rem;

    float: left;
}
.carousel_next, .carousel_prev {

    position: absolute;
    top: 50%;
    font-weight: 900;
    margin-top: 21rem;
    z-index: 12;
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 100px;
    font-size: 40px;

}
