.clothing {
    text-decoration: none;
    background: linear-gradient(#d5d0e5, 10%, #f3e6e8);
    height: 320px;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
    width: 276px;

}
.clothings {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 4rem;
    grid-gap: 20px;


}
.clothing-title {

    color: #f22652;
    font-size: 20px;
    position: relative;
    left: 6rem;
    bottom: -18rem;

}
/*.clothing > div > .clothing-title > span {
    bottom: -23px;
    text-align: center;
    position: absolute;
    left: 4.75rem;
}*/
img.clothing-title {
    width: 100px;
}
