.title {
    text-transform: uppercase;
    font-weight: 700;
    color: #222;
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif !important;

}
.nav-header {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    font-size: 16px;
    font-weight: 700;
    color: #666;
   display: flex;
    justify-content: center;
}
.nav-body{
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    transition-property: none;
    padding-right: 100px;
}
.nav-title{
    margin: 0 24px;
    font-size: 16px;
}
.nav-title1 span {
    position: relative;
    color: #222;
    font-size: 21px;
    text-shadow: -0.06ex 0 #222, 0.06ex 0 #222;
}
.nav-title1 span:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -6px;
    background-color: #222222;
}
.nav-title2 span {
    font-size: 21px;
}

.content-list {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-content {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 16px;
    margin-bottom: 16px;
    width: calc(50% - 16px);
    max-width: 450px;
    min-width: 340px;
    min-height: 160px;
    padding: 15px 16px 12px;
    border: 1px rgba(255, 115, 0, .1) solid;
    border-top: 0;
    background-color: #fdf6e5;
}

.main-content::before {
    content: "";
    position: absolute;
    height: 3px;
    width: calc(100% + 2px);
    top: 0;
    left: -1px;
    background-color: #ff7300;
}

.line {
    position: relative;
    left: -16px;
    height: 12px;
    width: calc(100% + 32px);
    margin: 6px 0;
    background-repeat: repeat no-repeat;
    background-image: linear-gradient(to right, #fff 8px, transparent 8px);
    background-size: 18px 1px;
    background-position-y: center;
}

.line::before {
    content: "";
    position: absolute;
    left: -6px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
    border-bottom: 1px rgba(255, 115, 0, .2) solid;
    border-right: 1px solid rgba(255, 115, 0, .2);
    -webkit-transform: rotate(
            -45deg
    );
    transform: rotate(
            -45deg
    );
}

.line::after {
    left: auto;
    right: -7px;
    -webkit-transform: rotate(
            135deg
    );
    transform: rotate(
            135deg
    );
}

.head {
    position: relative;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #ff7300;
}

.prix {
    margin-right: 12px;
}

.head p {
    font-size: 14px;
    line-height: 16px;
    margin-top: 3px;
    font-weight: 400;
}

.body {
    position: relative;
    max-height: 54px;
    overflow: hidden;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.data-rang {
    font-size: 12px;
    line-height: 14px;
    color: #666;
    padding-left: 7px;
    position: relative;
}

.body li::before {
    content: '';
    position: absolute;
    left: 0;
    margin-left: -1.5px;
    top: 5.5px;
    height: 6px;
    width: 6px;
    background: #666;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    border-radius: 50%;
}


