.footer-container {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 378px;
    padding-top: 60px;
    padding-bottom: 20px;
    background-color: #fafafa;

}
.footer-container::before{
    content: " ";
    display: table;
}

.footer-head {
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.footer-row {
    margin-left: -10px;
    margin-right: -10px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 70px;
}
div.container {
    display: grid;
    grid-template-columns: repeat(5,1fr);

}

.row-list-left {
    text-align: left;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;

}
.row-list-left h6{
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
}
.row-list-left ul{
    margin-top: -1.5rem;
    margin-left: 0;
    padding: 0;
}
.row-list-left ul li{
    line-height: 23px;
    list-style: none;
    text-transform: capitalize;
}
.row-list-left ul li a{
    color: #666;
    text-decoration: none;
}
.row-right{
    width: 50%;
    float: left!important;
    position: relative;
    min-height: 1px;
    padding-left: 102px;
    padding-right: 10px;
    margin: 0;


}
div.row {
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 70px;
}
.row-chat {
    width: 67%;
    float: left!important;
    /*padding-left: 107px;*/
    padding-right: 10px;

}
.row-chat h6{
    font-size: 12px;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;
}
.list-right {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.list-right li {
    float: left!important;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    line-height: 32px;
}
.list-right ul li a {
    text-decoration: none;
}
.list-right img {
    border: 0;
    vertical-align: middle;
    width: 35px;
}
.row-mobile {
    width: 100%;
}
.row-mobile h6 {
    font-size: 12px;
    color: #222;
    font-weight: 700;
    text-transform: uppercase;

}
.row-mobile ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;

}
.row-email h6 {
    color: #222;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    margin-bottom: 42px;
    font-size: 12px;
    text-transform: uppercase;
    white-space: nowrap;
  /*  padding-left: 108px;*/
}
.row-subscribe {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.row-subscribe-input input {
    width: 100%;
    height: 36px;
    padding: 0 12px;
    outline: 0;
    border: 1px solid #ccc;
}
button.subscribe{
    background-color: #222;
    display: block;
    width: 100%;
    padding: 6.5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;

}
.row-payment h6 {
    color: #222;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    margin-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;

}
.bank-img {
    display: grid;
    grid-template-columns: repeat(6,1fr);

}
.bank-img img{
    height: 34px;
    width: 45px;
}
.row-bottom{
    font-size: 12px;
    color: #666;
    margin-top: 3rem;
    width: 460px;
    padding-left: 0;
}
.row-bottom-list {
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 0;
    list-style: none;
}
.row-bottom-list li{
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 10px;
    border-right: 1px solid #ccc;
    white-space: nowrap;
}
.row-bottom-list li a{
    color: #666;
    text-decoration: underline;
}
.row-bottom span {
    padding-left: 10px;
    font-size: 12px;
}
.row-bottom-payment {
    position: relative;
    min-height: 1px;
    margin-top: 20px;
}
.row-bottom-payment img{
    width: 72px;
    height: 24px;
    padding: 5px;
}
