header.titre-content {
  display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    width: 100%;
    height: 83px;
}
header img {
width: 150px;
    height: 150px;
    margin: -50px 20px;
}
nav ul{
     display: flex;
     justify-content: flex-end;
     align-items: center;
    list-style: none;
}
 nav ul li a {
     padding: 10px 30px;
     text-decoration: none;
     font-size: 20px;
     font-family: Bahnschrift;
     color: #f22652;
 }
nav ul li a:hover {
    color: #8c8d8f;
    transition: 0.75s;
}

