

main section.sign-in-content {
    box-sizing: border-box;
    background: linear-gradient(#f22652, 15%, #cd5c5c, #f08080, pink);
    width: 400px;
    height: 650px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
.wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 0rem;
}

.wrapper label {
    font-weight: bold;
    font-size: 20px;
    color: pink;

}

.wrapper input {
    padding: 5px;
    font-size: 1.2rem;
}

form > div > * {
    margin: 7px 8px;
}
.header {
    height: 122px;
}

h1 {
    text-align: center;
    color: pink;
    margin-top: 0;
    margin-bottom: 0;
    padding: 64px;
    font-size: 25px;


}
.icon {
    width: 50px;
    position: relative;
    top: -11rem;
    right: -9rem;
}

.btn-login{
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 3rem;
    color: pink;
    background: linear-gradient(#f22652, 15%, #cd5c5c, #f08080, pink);

}
.required{
    color: darkred;
    margin: 8px 0 15px 9px;
}

