.picture > img {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    object-fit: cover;
    margin: 5px 14px;


}
