
.text {
    color: #222;
    text-align: center;
    padding: 15px;
    font-family:Arial,Helvetica,sans-serif!important;
    font-weight: bold;
    font-size: 25px;
    margin-right: -5rem;
}
main.account {
    padding: 24px;
    margin: 0 auto;
    height: 100%;
}
.page {
    display: grid;
    width: 100%;
    height: 900px;
    grid-template: [header-left] "head head" 200px [header-right]
                 [main-left]   "nav  main" 3fr  [main-right]
                 [footer-left] "nav  foot" 70px [footer-right]
                 / 220px 1fr;
    grid-gap: 20px;
}

header.en-tete {
    background: #8080800d;
    grid-area: head;
    height: 200px;
}

nav.navigation{
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(247, 248, 250);
    width: 232px;
}

main.content {

}

ul.menu {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 200px;
    list-style: none;
    text-align: center;
    margin: 10px 140px;
}
ul.menu li span{
    font-size: 25px;
    padding: 10px;
}
ul.menu li img {
    width: 19px;
    margin-top: -3.5rem;
}
ul.menu li a{
   text-decoration: none;
    white-space: nowrap;
    font-size: 22px;
    color: black;

}
.nav-container{
    padding: 25px 17px 30px;
}
.nav-container-title{
    padding-bottom: 10px;
    font-size: 26px;
    text-align: left;
    text-transform: capitalize;
    cursor: pointer;
}
.content {
    margin-top: 20px;
   /*  -moz-transition: height .5s;
    -ms-transition: height .5s;
    -o-transition: height .5s;
    -webkit-transition: height .5s;
    transition: height .5s;
    height: 0;*/
}
.add-icon{
    width: 15px;
    padding-left: 169px;
    display: flex;
    margin-top: -18px;
}
.content img:before{
    content: "\e636";
}
.menu-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: contents;
    width: 190px;
    margin-bottom: -31px;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 0px;
    overflow: hidden;


}
.menu-title.active {
    height: 240px;
    overflow: hidden;
    transition-property: height;
    transition-duration: 500ms;


}
.menu-content {
    text-transform: capitalize;
    cursor: pointer;
    font-family: Arial,sans-serif;
    white-space: nowrap;

    font-size: 18px;
    text-align: left;



}

.collapse {
    margin: 20px;
}
.collapse-list {
    display: contents;
    margin: 0 20px;
}
.collapse-list li{
    margin-top: 19px;
}
.collapse-list a {
    text-decoration: none;
    font-size: 16px;
    padding: 0;
    white-space: nowrap;
    color: #8c8d8f;
}
.collapse-list a:hover{
  color: #38393a;
}
.content-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 500px;
}
.content-body {
    margin-right: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.content-body-title{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 15px 44px;
}
.content-body-list{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 20px;
}
.content-body-list-item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
}
.content-body-list-item-title {
    margin: 10px 0;
    color: #666;
    font-size: 14px;
}
.content-body-list-item-icon{
    font-size: 40px;
    color: #38393a;


}
.content-body-list-item-icon-truck{
    transform: rotateY(-190deg);
    font-size: 40px;
    color: #38393a;
}
.content-body-link a{
    color: #666;
    font-size: 12px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}
.content-body-link i{
    font-size: 15px;
    padding: 12px;
}
.content-body-list-shopping{
    margin: 0 37px;
    padding: 20px;
    background: #fafbfc;
    list-style: none;
}

.content-body-list-shopping-item{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed #e5e5e5;
}
.content-body-list-shopping-date{
    color: #666;
    font-size: 12px;
}


